/* CSS reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS para os elementos gerais */
p, span, input, select, textarea, a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* Classes para uso genérico */
.flexCenter{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* CSS para o header do site */
header{
    display: flex;
    height: 15vh;
}

.headerDiv{
    display: flex;
    flex-basis: 100%;
}

#logo{
    max-width: 100%;
    height: 100%;
}

#pesquisarMusica{
    width: 75%;
    height: 2rem;
}