/* CSS reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* classes de background */
.background-ilaranja{
    background-image: url(../images/backgrounds/opattern.svg);
}

/* Alterando o css do Bootstrap para ajustar alguns itens */
#logo{
    max-height: 10vh;
    max-width: 100%;
}

.navbar-brand{
    max-width: 50%;
}

/* Ajustando o css para criar mascaras nas imagens*/
.mask{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
}